html, body {
    margin: 0;
    padding: 0;
}

/* RADDEVUS - 2024-12-18 overriding the 
bootstrap basic menu hover / focus colors */
.dropdown-item:hover, .dropdown-item:focus {
    color:white;
    background-color: green;
}

#procList option{
    padding-right:20px;
    background-color: lightblue;
 }

.k-hidden{visibility:hidden;display:none;}
.k-show{visibility:visible;display:block;}

 ul {
    display:block;
    flex-wrap: wrap;
    word-break: break-word;
    overflow-wrap: break-word;
}

 select {
    font-size:large;
 }

body {
    padding: .2em;
    color: #111;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.text-center {
    text-align: center;
}

/* Typography */
h1, .h1 {
    margin: 0.67em 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.1em;
}

h1, .h1 {
    color: #1E5078;
    font-size: 1.8em;
}

.contextMenuItem:hover {background-color: #4281F4;color:white; }

.RADcontextMenu {z-index:1000;
                    visibility:hidden;
                    display:none;
                    width:200px;
                    height:120px;
                    position:absolute;
                    font-family:'Sans Serif';
                    font-size:14px;
    }

.RADcontextMenu ul{
    /*width: 100%;  */
    list-style-type: none; 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
        
    }
.RADcontextMenu li{
        /*width:100%;*/
        margin: 0px 0px 0px 0px;
        padding: 3px 0px 3px 15px;
    }
.RADcontextMenu .card-body{
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}